@font-face
{
  font-family: "Calibri";
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url(https://wallpaperaccess.com/full/5668740.jpg);
  background-size: cover;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-family: Calibri, Arial, serif;
  text-align: center;
}


#graph {
  border: 3px solid white;
}







#remove_node{
  visibility: hidden;
}

#warning
{
  font-style: italic;
}

.group
{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  /*: 0.7;*/
  font-weight: bold;
  position: relative;
}

.option
{
  width: 220px;
  font-weight: bold;
  /*width: 100px; !* Set the width for each button *!*/
  padding: 5px; /* Add padding to style the button's content */
  margin-right: 5px; /* Add margin between buttons for spacing */
  margin-top: 3px;
  background-color: white; /* Button background color */
  color: black; /* Text color */
  /*border: none; !* Remove the button border *!*/
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
/* Hover style */
.option:hover {
  background-color: black; /* Change the background color to black on hover */
  color: white; /* Change the text color to white on hover */
  border-color: black; /* Change the border color to black on hover */
}
/* Style for the container div */
.button-container {
  display: flex; /* Use flexbox to arrange buttons side by side */
  width: 250px;
}

/* Style for the container div */
.button-container-2 {
  display: flex; /* Use flexbox to arrange buttons side by side */
  width: 120px;
  margin-right: 100px;
}

/* Style for the container div */
.button-container-3 {
  display: flex;
  align-items: center; /* Center items vertically within the row */
  margin-bottom: 3px;
}

#box
{
  padding: 3px;
}


.canvas-container {
  display: flex;
  flex-direction: row;
  display:block;
  position: relative;
}


#e_mode{
  display: none;
  position: absolute;
  padding: 1px;
  border-radius: 0px;
  z-index: 1; /* Ensure the element is above the canvas */
  font-style: italic;
  top: 40px; /* Adjust the top position as needed */
  right: 15px; /* Adjust the right position as needed */
}
#v_mode{
  display: block;
  position: absolute;
  padding: 1px;
  border-radius: 0px;
  z-index: 1; /* Ensure the element is above the canvas */
  font-style: italic;
  top: 22px; /* Adjust the top position as needed */
  right: -20px; /* Adjust the right position as needed */
}

/*zoom slider*/
.slider {
  position: absolute;
  bottom: 55px; /* Adjust the bottom position as needed */
  right: 6px; /* Adjust the right position as needed */
  align-items: center;
  z-index: 1; /* Ensure the element is above the canvas */
  background-color: rgba(255, 255, 255, 0.7); /* Background color with opacity */
  border-radius: 5px;
  padding: 4px;
  display:flex;
}


.sep {
  clear: both;
}

/*edge width slider*/
.slider1 {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.slider-input1 {
  /*flex:1;*/
  width: 120px;
}

.slider-label1 {
  width: 30px;
  font-weight: normal;
}


.line-1 {
  height: 2px;
  width: 230px;
  background: black;
  margin: 7px;
}


/*Tabs:*/
.tabs {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1px;
  margin-top: 2px;
  flex-wrap: wrap
}

.tab {
  position: relative;
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: -1px;
  margin-bottom: -1px; /* Add margin to separate tabs when they wrap */
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab.active {
  background-color: #fff;
  border-color: #ccc;
}

.tab:hover {
  background-color: #FFF5EE;
  opacity: 0.8; /* Reduce opacity on hover */
}

.add-tab{
  background: none;
}



/* Style the close button (x) */
.close-tab {
  position: relative;
  margin-left: 8px;
  color: #333; /* Default color */
  transition: color 0.3s; /* Transition for color property */
}

/* Circle effect for close button on hover */
.close-tab::before {
  content: "x"; /* Display the "x" character */
  position: absolute;
  width: 11px;
  height: 11px;
  line-height: 9px; /* Center the "x" vertically */
  /*text-align: center; !* Center the "x" horizontally *!*/
  background-color: transparent; /* Transparent background for the circle */
  border: 2px solid gray; /* Border for the circle */
  border-radius: 50%; /* Make it circular */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%) scale(0); /* Initial scale to hide it */
  transition: transform 0.3s, border-color 0.3s; /* Transitions for transform and border-color properties */
  /*color: gray; !* Text color for the "x" *!*/
}

/* Show the circle effect on hover */
.close-tab:hover::before {
  transform: translate(-50%, -50%) scale(1); /* Scale it up to show the circle */
  background-color: lightgray; /* Grey background for the circle on hover */
  border-color: transparent; /* Transparent border on hover */
}


/* CSS for the context menu container */
.context-menu-container {
  position: absolute;
  z-index: 1000;
  overflow-y: auto; /* Make the context menu scrollable */
  max-height: 200px; /* Set a maximum height for the menu */
}

/* Style for the context menu items */
.context-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}



/* Styles for the info button */
.info-button {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  z-index: 1;
}

.popup {
  display: none;
  background-color: #fff;
  width: 320px; /* Adjust the width as needed */
  text-align: left;
  position: absolute;
  z-index: 2; /* Ensure the popup is above other content */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none; /* Allow clicks to pass through */
}

/* Styles for the popup content */
.popup-content {
  padding: 10px;
}

/* Styles for showing the popup */
.popup.active {
  display: block;
}

/* Style for the tab list window */
#tabListWindowAndCheckboxes {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  width: 200px;
  font-weight: bold;
  padding: 5px; /* Add padding to style the button's content */
  margin-right: 5px; /* Add margin between buttons for spacing */
  margin-top: 3px;
  background-color: white; /* Button background color */
  color: black; /* Text color */
  /*border: none; !* Remove the button border *!*/
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Style for the tab list window */
#tabListWindow {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow-y: auto;

  width: 150px;
  font-weight: bold;
  /*width: 100px; !* Set the width for each button *!*/
  padding: 5px; /* Add padding to style the button's content */
  margin-right: 5px; /* Add margin between buttons for spacing */
  margin-top: 3px;
  background-color: white; /* Button background color */
  color: black; /* Text color */
  /*border: none; !* Remove the button border *!*/
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Style for the hovered row */
.hovered {
  background-color: lightskyblue; /* Adjust the color as desired */
  cursor: pointer;
  color: white;
}
h3 {
  font-size: 16px; /* Adjust the font size as needed */
  margin-top: 0px;
  margin-bottom: 9px;
  color: #898989;
}


.hidden {
  display: none;
}

/* Style for the close button */
.close-button {
  position: absolute;
  margin-right: 5px;
  top: 3px;
  left: 3px;
  width: 15px; /* Set the width and height to make it circular */
  height: 15px;
  background-color: black; /* Background color for the circle */
  border-radius: 50%; /* Make it circular */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  color: white; /* Text color */
  outline: none; /* Remove the default focus outline */
}

/* Style for the close button on hover */
.close-button:hover {
  opacity: 0.8; /* Change the background color on hover if desired */
  background-color: palevioletred;


}